@import './nullstyle.scss';
@import './fonts.scss';

body {
    font-family: 'Lato', sans-serif;
    min-height: 100%;
    color: #ffebcd;
}

main {
    background: url(../assets/background.svg) no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.container {
    max-width: 1200px;
    padding: 20px;
}