.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.nav-bar__links {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;
}
.nav-bar__btn {
    background: none;
    border: none;
    color: #ffebcd;
    transition: 0.4s;
    text-decoration: none;
    &:hover {
        color: #ff0000;
    }
}
.nav-bar__btn-active {
    color: #0eff01;
}